<div class="container mt-5">
  <ng-container
    *ngIf="property && property.bookings && property.bookings.length > 0; else noBookings"
  >
  <div class="mt-5">
    <h5 class="text-center fw-bold fs-3 text-dark-emphasis">
      <br>
      Bookings</h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Booking Date</th>
          <th>Check-in</th>
          <th>Check-out</th>
          <th>Status</th>
          <th>Booking Ends In</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of property.bookings">
          <td>{{ booking.user_name }}</td>
          <td>{{ booking.user_email }}</td>
          <td>{{ booking.user_phone }}</td>
          <td>{{ booking.book_date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ booking.start_date }}</td>
          <td>{{ booking.end_date }}</td>
          <td>{{ checkBookStatus(booking.start_date, booking.end_date) }}</td>
          <td>{{ getTimeLeft(booking.end_date) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
 
  </ng-container>

  <ng-template #noBookings>
    <div
      class="no-bookings d-flex justify-content-center align-items-center h-100"
    >
      <h1 class="text-dark">No bookings available for this property.</h1>
    </div>
  </ng-template>
</div>
