<div class="" style="margin-top: 100px; margin-right: 45px">
  <div class="row">
    <div class="col-2 p-0">
      <app-owner-sidebar></app-owner-sidebar>
    </div>
    <div class="col-10 p-0">
      <ng-container
        *ngIf="
          property && property.bookings && property.bookings.length > 0;
          else noBookings
        "
      >
        <table class="table table-hover table-blue w-100">
          <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Booking Date</th>
              <th>Check-in</th>
              <th>Check-out</th>
              <th>Status</th>
              <th>Booking Ends In</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of property.bookings" class="shadow-sm">
              <td class="bg-light text-dark">{{ booking.user_name }}</td>
              <td class="bg-light text-dark">
                {{ booking.user_email }}
              </td>
              <td class="bg-light text-dark">
                {{ booking.user_phone }}
              </td>
              <td class="bg-light text-dark">
                {{ booking.book_date | date : "yyyy-MM-dd" }}
              </td>
              <td class="bg-light text-dark">
                {{ booking.start_date }}
              </td>
              <td class="bg-light text-dark">{{ booking.end_date }}</td>
              <td class="bg-light text-dark">
                {{ checkBookStatus(booking.start_date, booking.end_date) }}
              </td>
              <td class="bg-light text-dark">
                {{ getTimeLeft(booking.end_date) }}
              </td>
              <td class="bg-light text-dark">
                <button
                  class="btn btn-outline-success shadow-sm rounded-5"
                  routerLink="chat/{{ booking.user_id }}/{{ booking.id }}"
                >
                  <i class="fa-solid fa-message"></i>
                  Message
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-template #noBookings>
        <div
          class="no-bookings d-flex justify-content-center align-items-center h-100"
          style="margin-top: 200px"
        >
          <h1 class="text-dark">No bookings available for this property.</h1>
        </div>
      </ng-template>
    </div>
  </div>
</div>
