
<div class="container w-50 border bg-white rounded mx-auto p-5" style="margin-top: 150px;">
    <h1 class="text-center my-2 fs-5 text-uppercase fw-bold text-black ">reset password</h1>

<form (ngSubmit)="onSubmit()">
    <div class="mb-2 col-md-12">
        <label for="exampleInputPassword1" class="form-label fs-6 text-uppercase fw-bold text-black">NewPassword</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="password" required="required" minlength="8"
            id="exampleInputPassword1">
    </div>
    <div class="mb-2 col-md-12">
        <label for="exampleInputPassword1" class="form-label fs-6 text-uppercase fw-bold text-black">Confirm Password</label>
        <input id="exampleInputPassword1" type="password" name="password_confirmation" class="form-control" [(ngModel)]="password_confirmation"  
            > 
    </div>   
     <button type="submit" class="btn btn-lg btn-primary w-50 mx-auto ">Reset Password</button>
  </form>

</div>







