<div class="chat-container" style="margin-top: 10rem">
  <div class="d-flex justify-content-start align-items-center h-100 mb-3">
    <img
      [src]="'http://localhost:8000/images/posts/' + guestImage"
      alt="{{ guestName }} image"
      class="rounded-circle me-3"
      style="height: 60px; width: 60px"
    />
    <div>
      <h5 class="py-0 my-0">{{ guestName }}</h5>
      <div class="d-flex">
        <span class="text-muted py-0 mb-0 me-2"
          ><i class="fa-solid fa-inbox me-1"></i>{{ guestEmail }}</span
        >
        •
        <span class="text-muted py-0 my-0 ms-2"
          ><i class="fa-solid fa-phone me-1"></i>{{ guestPhone | phone }}</span
        >
      </div>
    </div>
  </div>

  <div class="messages">
    @if (messages.length === 0) {
    <div class="no-messages">
      <p class="text-dark roboto-regular">
        No messages yet. Start the conversation!
      </p>
    </div>
    } @else {
    <div
      *ngFor="let message of messages"
      [ngClass]="{
        'message-sent': message.username === ownerName,
        'message-received': message.username !== ownerName
      }"
    >
      <strong class="text-dark"
        >{{ message.username === ownerName ? "Me" : message.username }}:</strong
      >
      {{ message.message }}
    </div>
    }
  </div>

  <div class="input-container">
    <input
      type="text"
      [(ngModel)]="newMessage"
      placeholder="Type your message..."
      required
    />
    <button (click)="sendMessage()" [disabled]="!newMessage.trim()">
      Send
    </button>
  </div>
</div>
