<div
  class="card rounded-3 shadow border-1 position-relative"
  style="width: 30rem"
>
  <div class="card-body d-flex justify-content-between pb-0 mb-2">
    <div>
      <h5 class="card-title mb-1 roboto-regular">
        {{ property.name | truncate : 19 }}
      </h5>
      <p class="card-subtitle roboto-regular">
        <i class="fas fa-map-marker-alt text-dark text-muted"></i>
        {{ property.location | truncate : 20 }}
      </p>
      <span class="text-muted">
        {{ email }}
      </span>
      <span class="text-dark">
        {{ phone }}
      </span>
    </div>
    <div class="text-center">
      <h5 class="text-dark poppins-regular" style="font-size: 1.5rem">
        {{ property.night_rate }}$/<small class="text-dark">night</small>
      </h5>
    </div>
  </div>
  <a
    class="position-absolute bg-blue rounded-5 p-2 message"
    routerLink="chat/{{ property.owner_id }}/{{ booking.id }}"
    ><i class="fa-regular fa-message text-light fs-4 align-middle"></i
  ></a>
  <div
    class="w-100 rounded-bottom-3 py-1 px-2 d-flex justify-content-evenly text-light bg-blue"
  >
    <div>
      <i class="fa-regular fa-calendar-days text-light"></i>
      {{ payment.start_date | date : "mediumDate" }}
    </div>
    &#8226;
    <div>
      <i class="fa-regular fa-calendar-days text-light"></i>
      {{ payment.end_date | date : "mediumDate" }}
    </div>
    &#8226;
    <div>
      <i class="fa-regular fa-user text-light"></i>
      {{ payment.owner_name }}
    </div>
  </div>
</div>
