<!-- <section id="about-us">
  <div class="container">
    <div class="row py-lg-5">
      <h2 class="text-capitalize text-center m-0 py-lg-5">Why Choose Us</h2>

      <div class="col-lg-4 text-center">
        <img src="images/search.png" class="bd-placeholder-img rounded-circle mx-auto" alt="Easy to find" width="140" height="140" loading="lazy">
        <h4 class="fw-normal mt-4">Easy to Find</h4>
        <p class="text-dark">Finding what you need shouldn't be a hassle. Our platform is user-friendly, making it simple to search for properties that meet your requirements. With advanced filtering options, you can quickly locate your ideal property without wasting time.</p>
      </div>

      <div class="col-lg-4 text-center">
        <img src="images/price.png" class="bd-placeholder-img rounded-circle mx-auto" alt="Affordable Prices" width="140" height="140" loading="lazy">
        <h4 class="fw-normal mt-4">Affordable Prices</h4>
        <p class="text-dark">Everyone deserves access to quality properties at reasonable prices. Our competitive pricing strategy ensures great deals without compromising quality. We monitor market trends to help you find the best prices that fit your budget.</p>
      </div>

      <div class="col-lg-4 text-center">
        <img src="images/time.png" class="bd-placeholder-img rounded-circle mx-auto" alt="Quick Process" width="140" height="140" loading="lazy">
        <h4 class="fw-normal mt-4">Quick Process</h4>
        <p class="text-dark">In today’s fast-paced world, time is crucial. Our streamlined processes minimize wait times, ensuring a swift experience from inquiry to closing. Our dedicated team facilitates quick transactions so you can move in without unnecessary delays.</p>
      </div>
    </div>
  </div>
</section>

<section id="help" class="py-5"
  style="background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0.00) 100%);">
  <div class="container-lg my-5">

    <div class="row d-flex justify-content-between align-items-center">

      <div class="col-md-6">
        <div class="image-holder d-flex">
          <img src="images/group.png" class="img-fluid" alt="Bootstrap Themes" loading="lazy">
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-content ps-md-5 mt-4 mt-md-0">
          <h2 class="text-capitalize text-dark">We help people to find homes</h2>
          <p>Mauris orci donec blandit maecenas. Orci lorem purus porttitor massa consectetur. Neque, vestibulum sed
            varius magna et at. Eu, adipiscing morbi augue justo. Nibh laoreet volutpat quis velit. Blandit aliquam
            donec sed morbi congue eget lorem viverra porta id lobortis.</p>
          <a href="#" class="btn btn-primary btn-lg">Get In Touch</a>
        </div>
      </div>


    </div>
  </div>
</section> -->

<div class="container-xxl py-5" id="aboutUs">
  <div class="container parent-animate" [class.hidden]="!isVisible" [class.show]="isVisible">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <h6 class="section-title text-start text-warning fs-2 text-uppercase">About Us</h6>
        <h1 class="mb-4">Welcome to <span class="text-warning text-uppercase">Hotelier</span></h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet.</p>
        
        <div class="row g-3 pb-4">
          <div class="col-sm-4 hidden">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-hotel fa-2x text-warning mb-2"></i>
                <h2 class="mb-1">1234</h2>
                <p class="mb-0">Rooms</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 hidden">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-users-cog fa-2x text-warning mb-2"></i>
                <h2 class="mb-1">1234</h2>
                <p class="mb-0">Staffs</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 hidden">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-users fa-2x text-warning mb-2"></i>
                <h2 class="mb-1">1234</h2>
                <p class="mb-0">Clients</p>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-warning py-3 px-5 mt-2" [class.hidden]="!isVisible" [class.show]="isVisible" href="">Explore More</a>
      </div>
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-end zoom-in" [class.hidden]="!isVisible" [class.show]="isVisible">
            <img class="img-fluid rounded w-75" src="new/assets/img/about-1.jpg" style="margin-top: 25%;">
          </div>
          <div class="col-6 text-start zoom-in" [class.hidden]="!isVisible" [class.show]="isVisible">
            <img class="img-fluid rounded w-100" src="new/assets/img/about-2.jpg">
          </div>
          <div class="col-6 text-end zoom-in" [class.hidden]="!isVisible" [class.show]="isVisible">
            <img class="img-fluid rounded w-50" src="new/assets/img/about-3.jpg">
          </div>
          <div class="col-6 text-start zoom-in" [class.hidden]="!isVisible" [class.show]="isVisible">
            <img class="img-fluid rounded w-75" src="new/assets/img/about-4.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
