<div class="" style="margin-top: 70px">
  <div class="row">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <div class="container mt-5">
        <div class="alert alert-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        <div
          class="btn-group container mb-4"
          role="group"
          aria-label="Status Filter"
        >
          <button
            class="btn btn-secondary me-2 rounded-start"
            (click)="filterProperties()"
          >
            All
          </button>
          <button
            class="btn text-white me-2"
            (click)="filterProperties('pending')"
            style="background-color: #3b5899"
          >
            Pending
          </button>
          <button
            class="btn btn-success me-2"
            (click)="filterProperties('accepted')"
          >
            Accepted
          </button>
          <button
            class="btn btn-danger me-2 rounded-end"
            (click)="filterProperties('rejected')"
          >
            Rejected
          </button>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-4 shadow-sm border-1 rounded-3 me-3 mb-3 p-0 bg-light position-relative"
          *ngFor="let property of properties"
          style="width: 30rem"
        >
          <div class="card-body p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title text-dark mb-0">{{ property.name }}</h5>
              </div>
              <div>
                <a
                  [routerLink]="['/admin/details', property.id]"
                  class="btn btn-outline-dark rounded-1 roboto-regular"
                  >Details</a
                >
              </div>
            </div>
            <p class="card-subtitle text-dark text-muted mb-0">
              {{ property.property_type }}
            </p>
            @if (property.status === 'pending'){
            <fa-icon class="bg-pending text-light" [icon]="faClock"></fa-icon>
            } @else if (property.status === 'accepted'){
            <fa-icon
              class="bg-accepted text-light"
              [icon]="faCircleCheck"
            ></fa-icon>
            } @else if (property.status === 'rejected') {
            <fa-icon
              class="bg-rejected text-light"
              [icon]="faXmarkCircle"
            ></fa-icon>
            }
          </div>

          <div
            class="d-flex justify-content-evenly align-items-center p-2 w-100 rounded-bottom-3 text-dark"
            style="background-color: hsl(0, 0%, 95%)"
          >
            <div>
              <i class="fa-solid fa-map-marker-alt text-dark"></i>
              {{ property.location | truncate : 15 }}
            </div>
            &#8226;
            <div>
              <i class="fa-regular fa-user text-dark"></i>
              {{ property.owner_name }}
            </div>
            &#8226;
            <div>
              <i class="fa-regular fa-calendar text-dark"></i>
              {{ property.createdAt | date : "EEE, d MMM y" }}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-4">
          <div class="paginations">
            <div>
              <div
                class="btn-group d-flex justify-content-center align-items-center"
                id="radioBtn"
              >
                <a class="btn me-3 notActive" (click)="paginationPrev()"
                  >&#x3C;</a
                >
                <span class="bg-blue p-2 rounded me-3 text-light">{{
                  pageNumber
                }}</span>
                <a class="btn me-3 notActive" (click)="paginationNext()">
                  &#x3E;</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
