<div class="" style="margin-top: 100px">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-8">
      <h2 class="text-center text-dark fw-bold">Users</h2>
      <div class="row d-flex justify-content-evenly mt-5">
        <div
          class="col-md-3 p-0 shadow border-1 me-2 mb-2 rounded"
          *ngFor="let user of users"
          style="width: 26rem; background-color: #ffffff"
        >
          <div class="card-body p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span class="card-title text-dark">{{
                  user.name | truncate : 15
                }}</span>
              </div>
              <div>
                <a
                  class="btn btn-outline-dark rounded-1"
                  [routerLink]="['/user', user.id]"
                >
                  View Details
                </a>
              </div>
            </div>
            <span class="card-subtitle text-muted">
              {{ user.email }}
            </span>
            @if (user.phone) {
            <p class="card-subtitle my-2 text-muted" style="font-size: 1rem">
              <i class="fa-solid fa-phone text-dark"></i>
              {{ user.phone }}
            </p>
            }
          </div>

          <div
            class="bg-light d-flex justify-content-between align-items-center py-1 px-2 w-100 rounded-bottom-3"
          >
            @if(user.address){
            <span class="mb-2 text-dark roboto-thin my-auto">
              <i class="fa-solid fa-location-dot me-1 text-dark"></i>
              <b>{{ user.address | truncate : 15 }}</b>
            </span>
            | }
            <span class="mb-2 text-dark roboto-thin my-auto">
              <i class="fa-regular fa-user me-1 text-dark"></i>
              <b>{{ user.gender }}</b>
            </span>
            |
            <a
              class="btn btn-danger rounded-1"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#exampleModal' + user.id"
            >
              Delete
            </a>
          </div>
          <div
            class="modal fade"
            [id]="'exampleModal' + user.id"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            style="margin-top: 5rem"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title text-dark fs-5 m-0 p-0"
                    id="exampleModalLabel"
                  >
                    Delete Confirmation
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete <b>{{ user.name }}</b
                  >?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary rounded-1"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger rounded-1"
                    data-bs-dismiss="modal"
                    (click)="deleteUser(user.id)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-4">
          <div class="paginations">
            <div>
              <div
                class="btn-group d-flex justify-content-center align-items-center"
                id="radioBtn"
              >
                <a class="btn me-3 notActive" (click)="paginationPrev()"
                  >&#x3C;</a
                >
                <span class="bg-blue p-2 rounded me-3 text-light">{{
                  pageNumber
                }}</span>
                <a class="btn me-3 notActive" (click)="paginationNext()">
                  &#x3E;</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
