<div class="container-fluid" style="margin-top: 70px;">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-8">
      <h2 class="text-center text-white">Users</h2>
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-3 border m-3 shadow" *ngFor="let user of users">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ user.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
              <p class="card-text">ID: {{ user.id }}</p>
              <p class="card-text">Phone: {{ user.phone }}</p>

              <div class="text-center">
                
                <button class="btn btn-danger me-2" (click)="deleteUser(user.id)">Delete</button>
                <a [routerLink]="['/user', user.id]" class="btn btn-info">View Details</a> <!-- Navigate to user details -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
