.service-item {
  height: 320px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.service-item:hover {
  background: orange;
  transition: 1s;
}

.service-item .service-icon {
  margin: 0 auto 30px auto;
  width: 65px;
  height: 65px;
  transition: .5s;
}

.service-item i,
.service-item h5,
.service-item p {
  transition: .5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
  color: #FFFFFF !important;
}

/* General Animation Setup */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Initially hidden */

.room-item ,.service-item{
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.room-item.animate , .service-item.animate {
  opacity: 1;
  transform: translateY(0);
}
