<div class="landing mt-4">
  <div class="main-banner mt-4">
    <div class="owl-carousel owl-banner">
      <div class="item item-1">
        <div class="header-text">
          <!-- <span class="category">Toronto, <em>Canada</em></span> -->
          <h2>Hurry!<br>Find best home for your vacation</h2>
        </div>
      </div>
     
    </div>
  </div>
</div>
<section id="billboard">
  <div class="container ">
    <div class="row flex-lg-row-reverse align-items-center ">

      <div class="col-lg-6">
        <img src="images/billboard.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
          height="500" loading="lazy">
      </div>

      <div class="col-lg-6">
        <h1 class=" text-capitalize  lh-1 my-3">Perfect way to buy and sell a home</h1>
        <p class="lead text-dark">Buying or selling a home can be a complex process, but we simplify it for you. Our experienced team provides expert guidance at every step, ensuring you make informed decisions. With our innovative platform and dedicated support, you can navigate the real estate market with confidence, making the journey seamless and stress-free.</p>
      </div>
    </div>
  </div>
</section>
<section id="feature">
  <div class="container py-5">
    <div class="row">
      <div class="section-header align-center mb-5">
        <h2 class=" text-capitalize m-0">Featured In</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-md-2 ">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="images/logo1.png"></div>
      </div>
      <div class="col-md-2">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="images/logo2.png"></div>
      </div>
      <div class="col-md-2">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="images/logo3.png"></div>
      </div>
      <div class="col-md-2">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="images/logo4.png"></div>
      </div>
      <div class="col-md-2">
        <div class="my-3" role="group" aria-label="3 / 7" style="width: 158.667px; margin-right: 20px;"><img
            alt="image" src="images/logo6.png"></div>
      </div>


    </div>
  </div>
</section>
