<header id="nav" class="site-header position-fixed text-white bg-dark mb-4">
  <nav
    id="navbar-example2"
    class="navbar navbar-expand-lg p-3 fs-4"
    style="background-color: #3b5899"
  >
    <div class="container">
      <a class="navbar-brand poppins-bold fs-3 text-white" href="/"
        >VacationRentals</a
      >

      <button
        class="navbar-toggler text-white"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar2"
        aria-controls="offcanvasNavbar2"
        aria-label="Toggle navigation"
      >
        xx
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar2"
        aria-labelledby="offcanvasNavbar2Label"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav align-items-center justify-content-end align-items-center flex-grow-1"
          >
            <li class="nav-item">
              <a class="nav-link me-md-4 poppins-medium fs-5" routerLink="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link me-md-4 poppins-medium fs-5"
                routerLink="/properties"
                >Properties</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link me-md-4 poppins-medium fs-5" href="#about-us"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 me-md-4 poppins-medium" href="#help"
                >Contact</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="favorite"
                class="nav-link d-flex roboto-regular align-items-center me-3"
              >
                <fa-icon [icon]="faHeart" class="fs-3"></fa-icon>
                <span class="ms-1 fs-5">Favorite</span>
              </a>
            </li>

            <!-- Dropdown for Account -->
            <li class="nav-item dropdown">
              <a
                class="nav-link fs-5 me-md-4 text-center dropdown-toggle poppins-medium"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                >Account</a
              >
              <ul class="dropdown-menu">
                <!-- Show login/register links if not logged in -->
                <ng-container *ngIf="!isLoggedIn(); else loggedInTemplate">
                  <li>
                    <a
                      routerLink="/login/owner"
                      class="fs-6 dropdown-item poppins-medium"
                      >Owner</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/login"
                      class="dropdown-item fs-6 poppins-medium"
                      >Travelers</a
                    >
                  </li>
                </ng-container>

                <!-- Show logout button if logged in -->
                <ng-template #loggedInTemplate>
                  <li>
                    <button
                      class="dropdown-item poppins-medium fs-6"
                      (click)="onLogout()"
                    >
                      Logout
                    </button>
                  </li>

                  <!-- User-specific actions -->
                  <li *ngIf="isUser()">
                    <button
                      class="btn btn-link nav-link dropdown-item poppins-medium fs-6"
                      (click)="navigateToPayments()"
                    >
                      Payments
                    </button>
                  </li>
                  <li *ngIf="isUser()">
                    <button
                      class="btn btn-danger dropdown-item poppins-medium fs-6"
                      [routerLink]="['/edit-user-profile', id]"
                    >
                      Edit Profile
                    </button>
                  </li>

                  <!-- Owner-specific actions -->
                  <li *ngIf="isOwner()">
                    <button
                      class="btn btn-link nav-link dropdown-item poppins-medium fs-6"
                      (click)="navigateToOwnerProfile()"
                    >
                      Profile
                    </button>
                    <button
                      class="btn btn-link nav-link dropdown-item poppins-medium fs-6"
                      (click)="navigateToOwnerProfile()"
                    >
                      Profile
                    </button>
                  </li>
                  <li *ngIf="isOwner()">
                    <button
                      class="btn btn-link nav-link dropdown-item poppins-medium fs-6"
                      (click)="navigateToOwnerProfile()"
                      (click)="navigateToEditProfile()"
                    >
                      Edit Profile
                    </button>
                  </li>
                  <li
                    class="d-flex justify-content-center fs-5 dropdown-item poppins-medium fs-6"
                    *ngIf="isOwner()"
                  ></li>

                  <li
                    class="d-flex justify-content-center fs-5 dropdown-item poppins-medium fs-6"
                    *ngIf="isOwner()"
                  >
                    Name : {{ owner.name }}
                  </li>
                  <li
                    class="d-flex justify-content-center fs-6 dropdown-item poppins-medium fs-6"
                    *ngIf="isOwner()"
                  >
                    ${{ owner.wallet }}
                  </li>
                </ng-template>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
