<header id="nav" class="site-header position-fixed text-white  " >
  <nav id="navbar-example2" class="navbar navbar-dark navbar-expand-lg p-4 fs-4" style="background-color: #142447">
    <div class="container">
      <a class="navbar-brand poppins-bold fs-3 text-white" href="/"><i class="fas fa-home me-2"></i>VacationRentals</a>

      <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="offcanvas offcanvas-end" style="background-color: #010f2e;" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-white" id="offcanvasNavbar2Label">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav align-items-center justify-content-end align-items-center flex-grow-1">
            <li class="nav-item">
              <a class="nav-link me-md-4 poppins-medium fs-5 text-white" routerLink="/" routerLinkActive="text-warning  poppins-bold"
                [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link me-md-4 poppins-medium fs-5 text-white" routerLink="/properties"
                routerLinkActive="text-warning poppins-bold" [routerLinkActiveOptions]="{exact: true}">Properties</a>

            </li>
            <li class="nav-item">
              <a *ngIf="isUser()" class="nav-link me-md-4 poppins-medium fs-5 text-white" routerLink="/bookings"
                routerLinkActive="text-warning" [routerLinkActiveOptions]="{exact: true}">
                Bookings
              </a>
            </li>
            <li class="nav-item">
              <a *ngIf="isOwner() && !isAdmin()" class="nav-link me-md-4 poppins-medium fs-5 text-white"
                routerLinkActive="text-warning" [routerLinkActiveOptions]="{exact: true}" routerLink="/add-property">
                Add Property
              </a>
            </li>
            <li class="nav-item">
              <a *ngIf="isOwner()  && !isAdmin()" class="nav-link me-md-4 poppins-medium fs-5 text-white"
                routerLink="/my-properties" routerLinkActive="text-warning poppins-bold"
                [routerLinkActiveOptions]="{exact: true}">
                My Properties
              </a>
            </li>
            <li class="nav-item dropdown">

              <a class="nav-link fs-5 me-md-4 text-center dropdown-toggle poppins-medium" data-bs-toggle="dropdown"
                *ngIf="isUser()" href="#" role="button" aria-expanded="false">{{ user.name | truncate:10 }}</a>
              <a class="nav-link fs-5 me-md-4 text-center dropdown-toggle poppins-medium" data-bs-toggle="dropdown"
                *ngIf="isOwner()  && !isAdmin()" href="#" role="button" aria-expanded="false">{{ owner.name |
                truncate:10}}</a>
              <a class="nav-link fs-5 me-md-4 text-center dropdown-toggle poppins-medium" data-bs-toggle="dropdown"
                *ngIf="!isOwner() && !isUser()" href="#" role="button" aria-expanded="false">Login</a>
              <div class="nav-item dropdown no-arrow" *ngIf="isAdmin() ">
                <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-white small fw-bold fs-4">Admin</span>

                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"
                    routerLink="/admin-dashboard">
                    Dashboard
                  </a>
                  <a (click)="onLogout()" class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </div>
              <ul class="dropdown-menu">
                <ng-container *ngIf="!isLoggedIn(); else loggedInTemplate">
                  <li class="nav-item">
                    <a routerLink="/login/owner" class="fs-6 dropdown-item poppins-medium">Owners</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/login" class="dropdown-item fs-6 poppins-medium">Travelers</a>
                  </li>
                </ng-container>

                <ng-template #loggedInTemplate>

                  <li *ngIf="isUser()" class="nav-item">
                    <button class="btn btn-link nav-link dropdown-item poppins-medium fs-6"
                      (click)="navigateToPayments()">
                      Profile
                    </button>
                  </li>

                  <li *ngIf="isOwner()" class="nav-item">
                    <button class="btn btn-link nav-link dropdown-item poppins-medium fs-6"
                      (click)="navigateToOwnerProfile()">
                      Profile
                    </button>

                  </li>
                  <li class="nav-item">
                    <button class="dropdown-item poppins-medium fs-6" (click)="onLogout()">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </button>
                  </li >
                </ng-template>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

