.nav-pills {
  background-color: #e4e4e4;
}

.isReadOnly {
  cursor: not-allowed;
}

.completed {
  background-color: #3b5899;
  color: rgb(43, 43, 43);

}

button.active {
  background-color: #c7d2eb;
  color: white;
}

.stepperBtns {
  cursor: default;
}