.nav-pills {
  background-color: #e4e4e4;
}

.isReadOnly {
  cursor: not-allowed;
}

.completed {
  background-color: #3b5899;
  color: white;
}

button.active {
  background-color: #3b5899;
  color: white;
}

.stepperBtns {
  cursor: default;
}
