h1 {
    font-size: 2.5rem;
  }

  .book-info h3 {
    font-size: 1.75rem;
    margin-top: 0.5rem;
  }

  .review-section span {
    font-size: 1.2rem;
  }

  .amenities {
    font-size: 1rem;
  }

  .rounded-card {
    border-radius: 15px;
    background-color: #191e3b;
    color: white;
  }

  .price-section .text-decoration-line-through {
    font-size: 1.1rem;
  }

  .price-section .fw-bold {
    font-size: 1.5rem;
  }

  .price-section .total {
    font-size: 1.2rem;
  }

  .bordered-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
  }

  @media (max-width: 768px) {
    .col-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }