<div
  class="container py-5 text-dark tw-mt-16 shadow"
  style="background-color: white"
>
  <div
    id="carouselExampleControls"
    class="carousel slide mb-4"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      @for (item of propertyDetails.images; track $index) {
      <div class="carousel-item active">
        <img
          src="http://127.0.0.1:8000{{ item.image }}"
          class="d-block w-100"
          alt="..."
        />
      </div>
      }
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row g-4">
    <div class="col-sm-12 col-md-8 col-12 d-flex flex-column">
      <div class="book-info">
        <span class="text-muted">Cabin</span>
        <h1 class="roboto-bold text-dark">
          {{ propertyDetails.headline }}
        </h1>
      </div>

      <!-- Features Section -->
      <div class="d-flex flex-wrap gap-3">
        <span class="me-3 text-dark">
          <i class="fa-solid text-dark fa-door-open me-2"></i>
          {{ propertyDetails.bedrooms }} bedroom
        </span>
        <span class="me-3">
          <i class="fa-solid text-dark fa-toilet me-2"></i>
          {{ propertyDetails.bathrooms }} bathroom
        </span>
        <span class="me-3">
          <i class="fa-solid text-dark fa-users me-2"></i>
          {{ propertyDetails.sleeps }} guests
        </span>
      </div>

      <h1 class="text-dark roboto-regular mt-5">Property amenities</h1>
      <div class="amenities row" style="max-width: 38rem">
        @for (item of propertyDetails.amenities; track $index) {
        <div class="col-md-3" style="max-width: 10rem">
          <span
            ><i class="fa-solid text-dark me-1 fa-cubes"></i
            >{{ item.name }}</span
          >
        </div>
        }
      </div>

      <!-- Map Section -->

      <div class="my-4">
        <h1 class="text-dark roboto-regular">Location</h1>
        <div>
          Location : <b>{{ propertyDetails.location }}</b>
        </div>
        <div id="map" class="mt-4" style="height: 28rem; width: 24rem"></div>
      </div>
    </div>

    <!-- Booking Section -->
    <div class="col-sm-12 col-md-4 col-12 d-flex flex-column">
      <div class="rounded-card shadow-lg p-4 text-center mb-4">
        <p class="fw-bold">Members get our best prices when signed in!</p>
        <a routerLink="/login" class="btn btn-primary rounded-pill">Sign Up</a>
      </div>

      <div class="bordered-container shadow-lg">
        <div class="price-section">
          <p class="fw-bold m-2 text-dark">
            ${{ propertyDetails.night_rate }}/night
          </p>
        </div>
        <hr class="my-4" />
        <div class="d-flex justify-content-between">
          <input
            type="date"
            class="form-control me-2"
            [(ngModel)]="start_date"
            (change)="calculateTotalPrice()"
          />
          <input
            type="date"
            class="form-control"
            [(ngModel)]="end_date"
            (change)="calculateTotalPrice()"
          />
        </div>
        <div class="mt-3">
          <label for="guests" class="form-label">Number of guests</label>
          <input
            type="number"
            id="guests"
            class="form-control"
            [(ngModel)]="sleeps"
          />
        </div>
        <div class="mt-4">
          <div class="d-flex justify-content-between total">
            <span>Total</span>
            <span>${{ totalPrice }}</span>
          </div>
        </div>
        <div class="mt-4">
          <button
            class="btn btn-primary rounded-pill w-100"
            (click)="navigateToPayment()"
          >
            Book now
          </button>
          <small class="d-block text-center mt-2"
            >You will not be charged yet</small
          >
        </div>
      </div>
    </div>
  </div>
  <div class="my-4">
    <h1 class="text-dark roboto-regular">Description</h1>
    <p class="text-dark">{{ propertyDetails.description }}</p>
  </div>
  <div class="my-5">
    <h1 class="text-dark roboto-regular">Property Manager</h1>
    <div
      class="d-flex justify-content-center align-items-center"
      style="width: 13rem"
    >
      <div>
        <img
          [src]="
            'http://localhost:8000/images/posts/' + propertyDetails.owner_image
          "
          style="border-radius: 50%; width: 50px; height: 50px"
          class="me-3"
        />
      </div>
      <div>
        <p class="text-dark roboto-medium m-0">
          {{ propertyDetails.owner_name }}
        </p>
        <span class="text-dark text-muted">{{
          propertyDetails.owner_company_name
        }}</span>
      </div>
    </div>
  </div>
  <!-- List Reviews -->
  <div
    class="mt-5 p-5 rounded-1"
    style="background-color: hsla(0, 0%, 94%, 0.795)"
  >
    <h2 class="text-center text-dark roboto-bold">Reviews</h2>
    <div class="review-list mb-4">
      <div class="review" *ngFor="let review of reviews">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <h5>{{ review.user.name }}</h5>
            <p class="ms-3 mt">{{ review.created_at | date : "mediumDate" }}</p>
          </div>
          <div>
            @if(review.user.id == userDetails?.id ) {
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteReview(review.id)"
            >
              Delete
            </button>

            }
          </div>
        </div>
        <p>{{ review.review }}</p>
        <div>
          <span class="badge bg-warning text-dark">{{ review.rating }}/5</span>
        </div>
        <hr />
      </div>
    </div>

    <!-- Add a Review Form -->
    <div class="add-review mt-4">
      <h4 class="text-dark fs-4">Leave a Review</h4>
      <form (submit)="addReview()">
        <div class="form-group mb-3">
          <label for="rating">Rating</label>
          <select
            class="form-select"
            id="rating"
            [(ngModel)]="newReview.rating"
            name="rating"
          >
            <option *ngFor="let rating of [1, 2, 3, 4, 5]" [value]="rating">
              {{ rating }}
            </option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="review">Comment</label>
          <textarea
            class="form-control"
            id="review"
            [(ngModel)]="newReview.review"
            name="review"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit comment</button>
      </form>
    </div>
  </div>
</div>
