<div class="container py-5">
    <h1 class="text-center text-danger mb-4">Book Page</h1>
    <div class="row g-4">
      <div class="col-sm-12 col-md-8 col-12 d-flex flex-column">
        <!-- Book Info Section -->
        <div class="book-info">
          <span class="text-muted">Cabin</span>
          <h3 class="fw-bold">
            Tiny house on private 20 acres along the Klamath River.
          </h3>
        </div>

        <!-- Review Section -->
        <div class="review-section my-4">
          <div>
            <span class="badge bg-success p-2">10</span>
            <span class="ms-2 fw-bold">Exceptional</span>
          </div>
          <a class="text-decoration-none mt-1" href="">See all reviews > </a>
        </div>

        <!-- Features Section -->
        <div class="d-flex flex-wrap gap-3 mb-4">
          <span class="me-3">
            <i class="fa-solid fa-door-open me-2"></i> 1 bedroom
          </span>
          <span class="me-3">
            <i class="fa-solid fa-toilet me-2"></i> 1 bathroom
          </span>
          <span class="me-3">
            <i class="fa-solid fa-users me-2"></i> 2 guests
          </span>
          <span><i class="fa-regular fa-square me-2"></i> 300 sq ft</span>
        </div>

        <!-- Amenities Section -->
        <h4 class="fw-bold">Popular amenities</h4>
        <div class="amenities">
          <div class="d-flex justify-content-between mb-2">
            <span
              ><i class="fa-solid fa-car me-2"></i> Parking available</span
            >
            <span><i class="fa-solid fa-droplet me-2"></i> Pet friendly</span>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <span
              ><i class="fa-solid fa-bowl-food me-2"></i> Barbecue grill</span
            >
            <span><i class="fa-solid fa-outdent me-2"></i> Pet friendly</span>
          </div>
          <div class="d-flex justify-content-between">
            <span><i class="fa-solid fa-kitchen-set me-2"></i> Kitchen</span>
            <span
              ><i class="fa-brands fa-airbnb me-2"></i> Air conditioning</span
            >
          </div>
          <a class="text-decoration-none mt-2 d-block" href="#"
            >See all property amenities ></a
          >
        </div>

        <!-- Map Section -->
        <div class="mt-5">
          <div class="row g-4">
            <div class="col-md-6">
              <img src="" alt="Google Map" class="img-fluid" />
            </div>
            <div class="col-md-6 d-flex flex-column">
              <span
                ><i class="fa-solid fa-location-dot me-2"></i> Southern Oregon
                University 63 min drive</span
              >
              <span
                ><i class="fa-solid fa-location-dot me-2"></i> Oregon
                Shakespeare Festival 67 min drive</span
              >
              <span
                ><i class="fa-solid fa-location-dot me-2"></i> Mount Ashland
                Ski Area 68 min drive</span
              >
              <span
                ><i class="fa-solid fa-location-dot me-2"></i> Ashland, OR
                (AHM-Sumner Parker Field) 63 min drive</span
              >
            </div>
          </div>
        </div>

        <!-- details Section -->
        <div class="mt-5 d-flex flex-column">
          <div>
            <h3>1 bedroom (4 sleeps)</h3>
            <p class="fw-bold">Bedroom 1</p>
            <span>1 Double Futon and 1 Twin Bunk Bed</span>
          </div>
          <hr />
          <div>
            <h3>1 bathroom</h3>
            <p class="fw-bold">Bathroom 1</p>
            <span>Toilet · Shower only · Outdoor shower</span>
          </div>
        </div>

        <!-- About property  -->

        <div class="mt-5">
          <h2>About this property</h2>
          <div>
            <h3>Tiny house on private 20 acres along the Klamath River.</h3>
            <p>
              Private cozy space with 500 hundred yards of river front. Copco
              lake does not have water anymore BUT- the historic Klamath River
              is back to the valley like it used to be back then! And you got
              the crazy option to walk on a lake bed and see what is was 100
              years ago. On Klamath River you can fish for Rainbow Trout.
              Property has access to thousands of acres of land lock BLM . You
              can hunt Deer, Bear, Elk, Turkey, Quail. This place is a
              paradise for hunters and fisherman's. In winter, you can visit
              the ski resorts of Ashland and Shasta. Fresh, clean air, the
              proximity of the river and the forest, comfortable living
              conditions, convenient location for tourist destination-all this
              will decorate your holiday in the vicinity of the village at any
              time of the year. The cabin has everything you need for a
              comfortable stay. A fool-size futon. a fool - twin size bunk
              bad, and a kitchen with a refrigerator, microwave, stove and
              coffee maker. There are two showers , one in the house and one
              outdoor. Our tiny home is a great place to relax with friends or
              the whole family!
            </p>
            <div>
              <h5>Property Manager</h5>
              <div class="d-flex flex-column justify-content-center">
                  <img src="WhatsApp Image 2024-09-21 at 13.43.08.jpeg" class="img-fluid w-25" alt="Property Manager">
                  <small class="ms-5">Mr. Smith</small>
              </div>                
            </div>
          </div>
        </div>

        <div class="mt-5">
           <h2>Amenities</h2>
           <div class="d-flex flex-column mb-3">
              <div>
                  <span
                ><i class="fa-solid fa-location-dot me-2"></i> Southern Oregon
                University 63 min drive</span
              >
              <span
                ><i class="fa-solid fa-location-dot me-2"></i> Oregon
                Shakespeare Festival 67 min drive</span
              >
              </div>
           </div>   
           <div class="d-flex flex-column mb-3">
              <div>
                  <span
                ><i class="fa-solid fa-location-dot me-2"></i> Southern Oregon
                University 63 min drive</span
              >
              <span
                ><i class="fa-solid fa-location-dot me-2"></i> Oregon
                Shakespeare Festival 67 min drive</span
              >
              </div>
           </div>
           <div class="d-flex flex-column mb-3">
              <div>
                  <span
                ><i class="fa-solid fa-location-dot me-2"></i> Southern Oregon
                University 63 min drive</span
              >
              <span
                ><i class="fa-solid fa-location-dot me-2"></i> Oregon
                Shakespeare Festival 67 min drive</span
              >
              </div>
           </div>
           <div class="d-flex flex-column mb-3">
              <div>
                  <span
                ><i class="fa-solid fa-location-dot me-2"></i> Southern Oregon
                University 63 min drive</span
              >
              <span
                ><i class="fa-solid fa-location-dot me-2"></i> Oregon
                Shakespeare Festival 67 min drive</span
              >
              </div>
              <a href="#" class="text-decoration-underline mt-2">See all amenities</a>
           </div>
        </div>

      <!-- rules Section  -->
       <div class="mt-5">
          <h2>House Rules</h2>
          <div class="d-flex flex-column  ">
              <span>Check out before 11:00 AM</span>
              <div class="d-flex mt-3">
                  <div class="me-3">
                      <i class="fa-solid fa-child fs-4 me-2"></i>
                      <span>
                          Children allowed: ages 0-17 
                      </span>
                  </div>

                  <div>
                      <i class="fa-solid fa-gift fs-4 me-2"></i>
                      <span>
                          Events allowed: family gatherings, birthday parties, weddings
                      </span>
                  </div>
                  <div>

                  </div>

              </div>
              <div class="mt-3">
                  <p>
                      Pets are not allowed on the furniture !!! No Smoking inside. No loaded firearms at the cabin and campsite.
                      Since the cabin is located in the forest highly recommended to meet host while checking for your own safety.
                      Open fires only with permission of the host.
                  </p>
              </div>
          </div>
       </div>

       <!-- damage section -->
        <div class="mt-5">
          <h2>Damages</h2>
          <p>
              You will be responsible for any damage to the rental property caused by you or your party during your stay.
          </p>
        </div>


      </div>

      <!-- Booking Section -->
      <div class="col-sm-12 col-md-4 col-12 d-flex flex-column">
        <div class="rounded-card shadow-lg p-4 text-center mb-4">
          <p class="fw-bold">Members get our best prices when signed in!</p>
          <a href="#" class="btn btn-primary rounded-pill">Sign Up</a>
        </div>

        <div class="bordered-container shadow-lg">
          <div class="price-section">
            <p class="text-decoration-line-through m-0">$158</p>
            <p class="fw-bold m-0">$120 per night</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <input type="date" class="form-control me-2" />
            <input type="date" class="form-control" />
          </div>
          <div class="mt-3">
            <label for="guests" class="form-label">Number of guests</label>
            <input type="number" id="guests" class="form-control" />
          </div>
          <div class="mt-4">
            <div class="d-flex justify-content-between total">
              <span>Total</span>
              <span>$965</span>
            </div>
            <small>Total includes fees, not tax</small>
            <a class="text-decoration-underline d-block mt-1" href="#"
              >Price Details</a
            >
          </div>
          <div class="mt-4">
            <button class="btn btn-primary rounded-pill w-100">
              Book now
            </button>
            <small class="d-block text-center mt-2"
              >You will not be charged yet</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>