<div
  class="container py-5 text-dark tw-mt-16 shadow"
  style="background-color: white"
>
  <!-- First Row: Map and Carousel -->
  <div class="row g-4 mb-4">
    <div class="col-12">
      <!-- Carousel Section -->
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          @for (item of propertyDetails.images; track $index) {
          <div class="carousel-item active">
            <img
              src="http://127.0.0.1:8000{{ item.image }}"
              class="d-block w-100 prop-img"
              alt="..."
            />
          </div>
          }
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Second Row: Amenities and Payment Form -->
  <div class="row g-4">
    <div class="col-md-8">
      <!-- Features Section -->
      <div class="book-info mb-3">
        <p class="roboto-bold text-muted">{{ property.property_type }}</p>
        <h1 class="fs-1 roboto-thin">{{ propertyDetails.headline }}</h1>
      </div>

      <div
        class="book-info mb-3 d-flex justify-content-evenly align-items-center"
        style="width: 26rem"
      >
        <span class="roboto-bold text-muted"
          >{{ property.bedrooms }} Bedrooms</span
        >
        |
        <span class="roboto-bold text-muted"
          >{{ property.bathrooms }} Bathrooms</span
        >
        |
        <span class="roboto-bold text-muted">{{ property.sleeps }} Sleeps</span>
      </div>

      <!-- Amenities Section -->
      <h1 class="text-dark roboto-regular mt-3 fw-bold fs-1">
        Property amenities
      </h1>
      <div class="amenities row">
        @for (item of propertyDetails.amenities; track $index) {
        <div class="col-md-3 mb-2">
          <span class="fs-5"
            ><i class="fa-solid text-warning me-1 fa-cubes"></i
            >{{ item.name }}</span
          >
        </div>
        }
      </div>
      <h1 class="fw-bold mt-3">Location</h1>
      <h6>{{ property.location }}</h6>
      <div id="map" class="mt-4" style="height: 28rem; width: 100%"></div>
    </div>

    <div class="col-md-4">
      <!-- Booking Form Section -->
      <div class="rounded-card shadow-lg p-4 text-center mb-4">
        <p class="fw-bold">Members get our best prices when signed in!</p>
        <a routerLink="/login" class="btn btn-primary rounded-pill">Sign Up</a>
      </div>

      <div
        class="bordered-container shadow-lg p-4 rounded-4 bg-white"
        style="max-width: 400px; margin: auto"
      >
        <div class="price-section mb-4 text-center position-relative">
          <div *ngIf="property.offer > 0" class="offer-details">
            <p class="badge bg-danger text-white rounded-pill px-3 py-1 mb-2">
              Discount: {{ property.offer }}%
            </p>
            <p class="offer-price display-6 text-success fw-bold mb-1">
              Offer Price: ${{ property.total_price }}
            </p>
            <p class="original-price text-muted text-decoration-line-through">
              Original Price: ${{ getOfferPrice() }}
            </p>
          </div>
          <!-- 
          <div
            *ngIf="property.offer == 0 || !isOfferActive()"
            class="fw-bold position-absolute px-3 py-1 bg-warning text-dark rounded-3"
            style="
              font-size: 1rem;
              bottom: 10%;
              left: 50%;
              transform: translateX(-50%);
            "
          >
            ${{ property.night_rate }}/Night
          </div> -->
        </div>

        <!-- Date Picker -->
        <div class="date-picker mb-4">
          <label class="form-label fw-semibold" for="dates">Choose Dates</label>
          <span *ngIf="isAvailable === false" class="float-end text-danger">
            Dates are not available!
          </span>
          <div class="d-inline" *ngIf="isAvailable === true">
            <span
              *ngIf="sleeps <= 0 || sleeps == null"
              class="float-end text-danger"
            >
              Minimum travelers are 1!
            </span>
            <span *ngIf="sleeps > 0" class="float-end text-success">
              Dates are available!
            </span>
          </div>
          <span *ngIf="isAvailable === null" class="float-end text-danger">
            Change dates!
          </span>
          <input
            class="text-center border-0 p-2 rounded-pill form-control bg-light shadow-sm"
            ngxDaterangepickerBootstrap
            name="dates"
            [isInvalidDate]="isDateBlocked"
            [autoApply]="true"
            [(ngModel)]="dates"
            [minDate]="minDate"
            (ngModelChange)="onDateChange()"
            style="font-size: 1rem"
          />
        </div>

        <!-- Guest Input -->
        <div class="guest-input mb-4">
          <label for="guests" class="form-label fw-semibold"
            >Number of Guests</label
          >
          <span *ngIf="isOverMaxSleep" class="float-end text-danger">
            This property can only host {{ maxSleeps }}
          </span>
          <input
            type="number"
            id="guests"
            class="form-control text-center rounded-pill shadow-sm"
            (ngModelChange)="onSleepsChange()"
            [(ngModel)]="sleeps"
            min="1"
            style="font-size: 1rem"
          />
        </div>

        <!-- Total Price -->
        <div
          class="total-price d-flex justify-content-between align-items-center py-3 border-top"
        >
          <span class="fw-bold">Total</span>
          <span class="fw-bold display-6 text-primary"
            >${{ totalPrice | number : "1.0-2" }}</span
          >
        </div>

        <!-- Book Now Button -->
        <button
          [disabled]="
            isAvailable === false ||
            isAvailable === null ||
            sleeps <= 0 ||
            sleeps == null ||
            isOverMaxSleep
          "
          class="btn btn-primary rounded-pill w-100 mt-4 py-2 fw-semibold shadow-sm"
          (click)="navigateToPayment()"
          style="font-size: 1.2rem"
        >
          Book Now
        </button>

        <!-- Info Note -->
        <small class="d-block text-center mt-3 text-muted"
          >You will not be charged yet</small
        >
      </div>
    </div>
  </div>

  <!-- Third Row: Description, Property Manager, and Reviews -->
  <div class="my-4">
    <h1 class="text-dark roboto-regular fs-1 fw-bold">Description</h1>
    <p class="text-dark">{{ propertyDetails.description }}</p>
  </div>

  <div class="my-4">
    <h1 class="text-dark roboto-regular fs-1 fw-bold">Property Manager</h1>
    <div
      class="d-flex justify-content-center align-items-center"
      style="width: 20rem"
    >
      <img
        [src]="
          'http://localhost:8000/images/posts/' + propertyDetails.owner_image
        "
        style="border-radius: 50%; width: 50px; height: 50px"
        class="me-3"
      />
      <div>
        <p class="text-dark roboto-medium m-0">
          {{ propertyDetails.owner_name }}
        </p>
        <span class="text-dark text-muted">{{
          propertyDetails.owner_company_name
        }}</span>
      </div>
    </div>
  </div>

  <!-- Reviews Section -->
  <div
    class="mt-5 p-5 rounded-1"
    style="background-color: hsla(0, 0%, 94%, 0.795)"
  >
    <h2 class="text-center text-dark roboto-bold">Reviews</h2>
    <div class="review-list mb-4">
      <div class="review" *ngFor="let review of reviews">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <h5>{{ review.user.name }}</h5>
            <p class="ms-3 mt">{{ review.created_at | date : "mediumDate" }}</p>
          </div>
          <div>
            @if(review.user.id == userDetails?.id) {
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteReview(review.id)"
            >
              Delete
            </button>
            }
          </div>
        </div>
        <p>{{ review.review }}</p>
        <div>
          <span class="badge bg-warning text-dark">{{ review.rating }}/5</span>
        </div>
        <hr />
      </div>
    </div>

    <!-- Add a Review Form -->
    <div class="add-review mt-4" *ngIf="canReview; else noReviewForm">
      <h4 class="text-dark fs-4">Leave a Review</h4>
      <form (submit)="addReview()">
        <div class="form-group mb-3">
          <label for="rating">Rating</label>
          <select
            class="form-select"
            id="rating"
            [(ngModel)]="newReview.rating"
            name="rating"
          >
            <option *ngFor="let rating of [1, 2, 3, 4, 5]" [value]="rating">
              {{ rating }}
            </option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="review">Comment</label>
          <textarea
            class="form-control"
            id="review"
            [(ngModel)]="newReview.review"
            name="review"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit comment</button>
      </form>
    </div>
    <ng-template #noReviewForm>
      <p>You need to book this property to leave a review.</p>
    </ng-template>
  </div>
</div>

<div
  class="container-fluid footer text-light footer wow fadeIn mt-5"
  data-wow-delay="0.1s"
>
  <div class="container pb-5" >
    <div class="row g-5">
      <div class="col-md-6 col-lg-4">
        <div class="bg-primary rounded p-4">
          <a href="index.html"
            ><h1 class="text-white text-uppercase mb-3">Hotelier</h1></a
          >
          <p class="text-white mb-0">
            Download
            <a
              class="text-warning fw-medium"
              href="https://htmlcodex.com/hotel-html-template-pro"
              >Hotelier – Premium Version</a
            >, build a professional website for your hotel business and grab the
            attention of new visitors upon your site’s launch.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <h6 class="section-title text-start text-warning text-uppercase mb-4">
          Contact
        </h6>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>infoexample.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-youtube"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="row gy-5 g-4">
          <div class="col-md-6">
            <h6
              class="section-title text-start text-warning text-uppercase mb-4"
            >
              Company
            </h6>
            <a class="btn btn-link" href="">About Us</a>
            <a class="btn btn-link" href="">Contact Us</a>
            <a class="btn btn-link" href="">Privacy Policy</a>
            <a class="btn btn-link" href="">Terms & Condition</a>
            <a class="btn btn-link" href="">Support</a>
          </div>
          <div class="col-md-6">
            <h6
              class="section-title text-start text-warning text-uppercase mb-4"
            >
              Services
            </h6>
            <a class="btn btn-link" href="">Food & Restaurant</a>
            <a class="btn btn-link" href="">Spa & Fitness</a>
            <a class="btn btn-link" href="">Sports & Gaming</a>
            <a class="btn btn-link" href="">Event & Party</a>
            <a class="btn btn-link" href="">GYM & Yoga</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Vacation</a>, All Right
          Reserved.

          <!--/* This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. */-->
          Designed By
          <a class="border-bottom" href="https://htmlcodex.com">ITI Team</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>