.container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    opacity: 1;
}

.log{
    background-image: url("/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  
    padding-top: 50px;
}
.btn-success {
    background-color: #4285F4; /* Google blue */
    border-color: #4285F4; /* Google blue */
    color: white; /* Text color */
    display: flex; /* Align icon and text */
    align-items: center; /* Center icon and text vertically */
  }
  
  .btn-success:hover {
    background-color: #357ae8; /* Darker blue on hover */
    border-color: #357ae8; /* Darker blue on hover */
  }
  
  .btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.5); /* Focus shadow */
  }
  