<div class="container mt-5">
  <h1 class="text-center m-4"></h1>

  <div *ngIf="ownerInfo" class="card p-4 shadow-sm">
    <h2 class="text-center">{{ ownerInfo.name }}</h2>
    <div class="text-center mb-3">
      <img *ngIf="ownerInfo.image" [src]="'http://localhost:8000/images/posts/' + ownerInfo.image" alt="Owner Image"
        class="rounded-circle" width="150" />
    </div>
    <a [routerLink]="['/edit-Owner-profile', ownerInfo.id]"
      class="btn btn-success d-flex roboto-regular align-items-center me-3">

      <span class="ms-1 fs-5">Edit Profile</span>
    </a>
    <p class="text-dark"><strong>Email:</strong> {{ ownerInfo.email }}</p>
    <p class="text-dark"><strong>Phone:</strong> {{ ownerInfo.phone }}</p>
    <p class="text-dark"><strong>Address:</strong> {{ ownerInfo.address }}</p>
    <p class="text-dark"><strong>Gender:</strong> {{ ownerInfo.gender }}</p>
    <p class="text-dark"><strong>Company Name:</strong> {{ ownerInfo.company_name }}</p>
    <p class="text-dark"><strong>Wallet:</strong> {{ ownerInfo.wallet }}</p>
    <p class="text-dark"><strong>Description:</strong> {{ ownerInfo.description }}</p>


    <div *ngIf="!ownerInfo" class="text-center">
      <p>No owner details found.</p>
    </div>
  </div>