<form (submit)="submitAmenity()">
  <div class="mt-4 h-25 overflow-hidden scroll-y">
    <div class="row">
      @if(amenityError)
      {
      <span class="alert alert-danger">
        *You must choose at least one amenity.
      </span>
      }

      @for (amenity of amenities; track amenity.id) {
      <div class="col-md-4">
        <input type="checkbox" class="form-check me-1 visually-hidden" name="amenities[]" id="amenity{{ amenity.id }}"
          [(ngModel)]="amenity.isChecked" />
        <label class="form-label checkbox-label text-light m-2 text-center p-3 rounded" for="amenity{{ amenity.id }}"
          [ngClass]="{ 'checked-bg': amenity.isChecked }">{{ amenity.name }}</label>
      </div>
      }
    </div>

    <div class="d-flex justify-content-end flex-row mb-5 mt-4">
      <button class="btn btn-outline-dark rounded-1 fs-5" type="submit">
        Next <i class="fa fa-angle-right"></i>
      </button>
    </div>
  </div>
</form>
