<div class="container-fluid tw-mt-32 position-relative">
  <div class="container w-100">
    <app-search></app-search>
    <!-- <app-filter></app-filter> -->
  </div>
  <div class="position-absolute tw-left-5">
    <app-filter-category></app-filter-category>
  </div>
  <div class="container">
    <div class="row">
      <ng-container *ngIf="properties!.length > 0; else noPropertiesTemplate">
        <div
          *ngFor="let property of properties; trackBy: trackByPropertyId"
          class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-2"
        >
          <app-item-card [property]="property"></app-item-card>
        </div>
      </ng-container>

      <ng-template #noPropertiesTemplate>
        <div
          class="d-flex justify-content-center align-items-center flex-column text-center"
          style="height: 30rem"
        >
          <div
            *ngIf="
              isFilteringByCategory && noPropertiesInCategory;
              else noResultsTemplate
            "
          >
            <h3 class="text-dark">
              No properties available in the selected category
            </h3>
            <p class="text-dark">
              Try selecting a different category or adjusting your filters.
            </p>
          </div>

          <ng-template #noResultsTemplate>
            <h3 class="text-dark">
              We don't have any available properties for your search
            </h3>
            <p class="text-dark">
              Try changing your dates or use the map to search nearby
            </p>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>
</div>
