<div class="container-fluid tw-mt-32 position-relative">
  <div class="container w-100">
    <app-search></app-search>
    <!-- <app-filter></app-filter> -->
  </div>
  <div class="position-absolute tw-left-5">
    <app-filter-category></app-filter-category>
  </div>
  <div class="container">
    <div class="row">
      @if (properties.length > 0) { @for (property of properties; track $index)
      {
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-2">
        <app-item-card [property]="property"></app-item-card>
      </div>
      } } @else if (isFilteringByCategory && noPropertiesInCategory) {
      <div
        class="d-flex justify-content-center align-items-center flex-column text-center"
        style="height: 30rem"
      >
        <div class="mb-3">
          <h3 class="text-dark">
            No properties available in the selected category
          </h3>
        </div>
        <div>
          <p class="text-dark">
            Try selecting a different category or adjusting your filters.
          </p>
        </div>
      </div>
      } @else {
      <div
        class="d-flex justify-content-center align-items-center flex-column text-center"
        style="height: 45rem"
      >
        <div class="mb-3">
          <h3>We don't have any available properties for your search</h3>
        </div>
        <div>
          <p>Try changing your dates or use the map to search nearby</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
