.border {
    border: 1px solid #dee2e6;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .text-success {
    color: #28a745 !important;
  }
  
  .text-info {
    color: #17a2b8 !important;
  }
  