<div class="card border-1 position-relative my-2 shadow">
  <div
    id="carouselExampleControls{{ property.id }}"
    class="carousel slide mb-1"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <ng-container *ngFor="let item of property.images; let i = index">
        <div class="carousel-item" [class.active]="i === 0">
          <img
            [src]="'http://127.0.0.1:8000' + item.image"
            class="d-block w-100 img-fluid img-hover"
            [alt]="item.name || 'Property Image'"
            loading="lazy"
          />
        </div>
      </ng-container>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      [attr.data-bs-target]="'#carouselExampleControls' + property.id"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button
      class="carousel-control-next"
      type="button"
      [attr.data-bs-target]="'#carouselExampleControls' + property.id"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <fa-icon
    [icon]="faHeart"
    class="fs-4 position-absolute rounded-3 text-light hover-effect z-3"
    style="top: 3%; right: 3%"
    (click)="toggleFavorites(property.id)"
  >
    {{ isFavorite(property.id) ? "Remove from Favorites" : "Add to Favorites" }}
    ></fa-icon
  >
  <div class="card-body p-3 mt-2">
    <span class="text-dark text-muted" style="font-size: 14px">
      <i class="fas fa-map-marker-alt me-1 blue"></i>
      {{ property.location | truncate : 40 }}</span
    >
    <p class="roboto-bold text-dark m-0">
      {{ property.headline | truncate : 30 }}
    </p>
    <div
      class="card-text text-muted roboto-regular w-75"
      style="font-size: 0.9rem"
    >
      <span
        ><fa-icon [icon]="faHouse" class="blue"></fa-icon>
        {{ property.property_type }}</span
      >
      |
      <span
        ><fa-icon [icon]="faBed" class="blue"></fa-icon>
        {{ property.bedrooms }} Bed</span
      >
      |
      <span
        ><fa-icon [icon]="faBath" class="blue"></fa-icon>
        {{ property.bathrooms }} Bath</span
      >
      |
      <span
        ><i class="fa-solid fa-person blue"></i>
        {{ property.sleeps }} Sleep</span
      >
    </div>
    <div
      class="fw-bold text-light position-absolute px-2 py-1"
      style="font-size: 0.8rem; background-color: #3b5899; top: 56%; left: 5%"
    >
      ${{ property.night_rate }}/Night
    </div>
    <a
      (click)="goToDetails(property.id)"
      class="btn bg-blue text-light mt-2 float-end rounded-0"
      >View Details</a
    >
  </div>
</div>
