<div class="card border-0 position-relative my-2">
  <a (click)="goToDetails(property.id)">
    <img
      src="https://media.vrbo.com/lodging/19000000/19000000/18993500/18993474/aa22ec86.jpg?impolicy=resizecrop&rw=1200&ra=fit"
      class="card-img-top rounded-3 shadow-lg position-relative"
      alt="{{ property.title }} property image"
    />
    <fa-icon
      [icon]="faHeart"
      class="fs-4 position-absolute rounded-3 text-light hover-effect"
      style="top: 2%; right: 4%"
    ></fa-icon>
    <div class="card-body">
      <span class="text-muted" style="font-size: 14px">{{
        property.city
      }}</span>
      <p class="mb-0 roboto-bold" style="bottom: 2rem">
        {{ property.name }}
      </p>
      <div class="d-flex justify-content-between" style="height: 0.5rem">
        <div class="card-text text-muted">
          {{ property.property_type }}
        </div>
        <div class="text-end fw-bold">{{ property.nightRate }}$</div>
      </div>
    </div>
  </a>
</div>
