<button
  type="button"
  class="btn btn-warning rounded-5"
  data-bs-toggle="modal"
  data-bs-target="#amenitiesModal"
>
  Filter by Amenities
</button>

<div
  class="modal fade"
  id="amenitiesModal"
  tabindex="-1"
  aria-labelledby="amenitiesModalLabel"
  aria-hidden="true"
  style="width: 100%"
>
  <div class="modal-dialog modal-dialog-centered modal-static">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title fs-4" id="amenitiesModalLabel">
          Filter by Amenities
        </span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex overflow-auto my-4 row g-2">
          <div
            *ngFor="let amenity of amenities; trackBy: trackByAmenityId"
            class="col-6 d-flex align-items-center"
          >
            <input
              type="checkbox"
              name="amenity"
              id="amenity{{ amenity.id }}"
              [(ngModel)]="amenity.isChecked"
              class="form-check-input me-2"
            />
            <label for="amenity{{ amenity.id }}" class="form-check-label">
              {{ amenity.name }}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="applyFilters()"
        >
          Apply Filters
        </button>
      </div>
    </div>
  </div>
</div>
