.bg-checked {
  background-color: #325f20; /* Change to desired checked color */
  color: #ffffff; /* Text color when checked */
}

.bg-black {
  background-color: #000000; /* Background color when not checked */
  color: #ffffff; /* Text color when not checked */
}
