<div id="page-top" [style]="{'margin-top': '70px'}">
  <div>
    <div id="wrapper">
      <app-sidebar></app-sidebar>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid  mt-5 shadow-lg p-4  rounded d-flex flex-column justify-content-center"
            style="width: 50%;background-color: #3b5899;">
            <h3 class="text-light text-center">Admin Dashboard</h3>

          </div>
          <div class="mt-4 d-flex justify-content-center container">
            <div class="row g-5">
              <div class="col-sm-12  col-md-3">
                <div class="card">
                  <img
                    src="https://img.freepik.com/premium-vector/man-traveler-walking-city-carry-suitcase_80802-316.jpg"
                    class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">All Traveler</h5>
                    <p class="text-black">all Traveleres in the system</p>
                    <a routerLink="/admin/users" class="btn text-light" style="background-color: #3b5899;">Show</a>
                  </div>
                </div>

              </div>
              <div class="col-sm-12 col-md-3">
                <div class="card">
                  <img src="/images/group.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">All Category</h5>
                    <p class="text-black">all Categories in the system</p>
                    <a routerLink="/category" class="btn text-light" style="background-color: #3b5899;">Show</a>
                  </div>
                </div>

              </div>
              <div class="col-sm-12 col-md-3 ">
                <div class="card">
                  <img src="/images/owners.jpeg" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">All Owners</h5>
                    <p class="text-black">all owners in the system</p>
                    <a routerLink="/admin/owners" class="btn text-light" style="background-color: #3b5899;">Show</a>
                  </div>
                </div>

              </div>
              <div class="col-sm-12 col-md-3 ">
                <div class="card">
                  <img src="/images/billboard.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">All Properties</h5>
                    <p class="text-black">all properties in the system</p>
                    <a routerLink="/admin/properties" class="btn text-light" style="background-color: #3b5899;">Show</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </div>
</div>
