.fc {
  /* the calendar root */
  max-width: 100vw;
  max-height: 800px;
  margin: 0 auto;
}

.custom-event-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  font-size: 0.9em;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  visibility: hidden;
}

.custom-event-content:hover .delete-button {
  visibility: visible;
}
