<div class="chat-container" style="margin-top: 10rem">
  <h2>Chat Room</h2>

  <div class="messages" *ngIf="messages.length > 0">
    <div
      *ngFor="let message of messages"
      [ngClass]="{
        'message-sent': message.senderId === guestId,
        'message-received': message.senderId !== guestId
      }"
    >
      <strong class="text-dark">{{ message.senderName }}:</strong>
      {{ message.content }}
    </div>
  </div>

  <div class="input-container">
    <input
      type="text"
      [(ngModel)]="newMessage"
      placeholder="Type your message..."
      (keydown.enter)="sendMessage()"
      required
    />
    <button (click)="sendMessage()" [disabled]="!newMessage.trim()">
      Send
    </button>
  </div>
  <div *ngIf="messages.length === 0" class="no-messages">
    <p class="text-dark roboto-regular">
      No messages yet. Start the conversation!
    </p>
  </div>
</div>
