<div
  class="container w-50 border bg-white rounded mx-auto p-5"
  style="margin-top: 100px"
>
  <form [formGroup]="registerForm" (ngSubmit)="handleEditSubmit()">
    <h2 class="text-center my-2 mb-3 text-dark">Update Profile</h2>
    <div class="row">
      <div class="mb-2 col-md-6">
        <label
          for="name"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Name</label
        >
        <input
          id="name"
          type="text"
          name="name"
          class="form-control"
          formControlName="name"
        />
        @if(registerForm.get('name')?.invalid &&
        (registerForm.get('name')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('name')?.hasError('required')){ Name is required.
          }
        </span>
        }
      </div>

      <div class="mb-2 col-md-6">
        <label
          for="address"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Address</label
        >
        <input
          id="address"
          type="text"
          name="address"
          class="form-control"
          formControlName="address"
        />
        @if(registerForm.get('address')?.invalid &&
        (registerForm.get('address')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('address')?.hasError('required')){ Address is
          required. }
        </span>
        }
      </div>

      <div class="mb-2 col-md-4">
        <label
          for="phone"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Phone</label
        >
        <input
          id="phone"
          type="text"
          name="phone"
          class="form-control"
          formControlName="phone"
        />
        @if(registerForm.get('phone')?.invalid &&
        (registerForm.get('phone')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('phone')?.hasError('required')){ Phone is
          required. } @if(registerForm.get('phone')?.hasError('minlength')){
          Phone number must be at least 11 digits. }
        </span>
        }
      </div>

      <div class="mb-2 col-md-4">
        <label
          for="company_name"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Company Name</label
        >
        <input
          id="company_name"
          type="text"
          name="company_name"
          class="form-control"
          formControlName="company_name"
        />
        @if(registerForm.get('company_name')?.invalid &&
        (registerForm.get('company_name')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('company_name')?.hasError('required')){ Company
          Name is required. }
        </span>
        }
      </div>
      <div class="mb-2 col-md-4">
        <label
          for="owner_image"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Image</label
        >
        <input
          id="owner_image"
          type="file"
          name="image"
          class="form-control"
          formControlName="owner_image"
        />
      </div>

      <div class="mb-2 col-md-6">
        <label
          for="email"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Email address</label
        >
        <input
          type="email"
          name="email"
          class="form-control"
          formControlName="email"
          id="email"
        />
        @if(registerForm.get('email')?.invalid &&
        (registerForm.get('email')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('email')?.hasError('required')){ Email is
          required. } @if(registerForm.get('email')?.hasError('email')){ Invalid
          email format. }
        </span>
        }
      </div>

      <div class="mb-2 col-md-6">
        <label
          for="gender"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Gender</label
        >
        <select
          id="gender"
          name="gender"
          class="form-control"
          formControlName="gender"
        >
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        @if(registerForm.get('gender')?.invalid &&
        (registerForm.get('gender')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('gender')?.hasError('required')){ Gender is
          required. }
        </span>
        }
      </div>

      <div class="mb-2 col-md-12">
        <label
          for="description"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Description</label
        >
        <textarea
          id="description"
          type="text"
          name="description"
          class="form-control"
          formControlName="description"
        ></textarea>
        @if(registerForm.get('description')?.invalid &&
        (registerForm.get('description')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('description')?.hasError('required')){
          Description is required. }
        </span>
        }
      </div>

      <div class="mb-2 col-md-12">
        <label
          for="password"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Password</label
        >
        <input
          id="password"
          type="password"
          name="password"
          class="form-control"
          formControlName="password"
        />
        @if(registerForm.get('password')?.invalid &&
        (registerForm.get('password')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('password')?.hasError('minlength')){ Password
          must be at least 8 characters long. }
        </span>
        }
      </div>

      <div class="mb-2 col-md-12">
        <label
          for="confirm_password"
          class="form-label fs-6 text-uppercase fw-bold text-black"
          >Confirm Password</label
        >
        <input
          id="confirm_password"
          type="password"
          name="confirm_password"
          class="form-control"
          formControlName="password_confirmation"
        />
        @if(registerForm.get('password_confirmation')?.invalid &&
        (registerForm.get('password_confirmation')?.touched || submitted)) {
        <span class="text-danger">
          @if(registerForm.get('password_confirmation')?.hasError('required')){
          Confirm Password is required. }
          @if(registerForm.get('password_confirmation')?.hasError('mismatch')){
          Passwords do not match. }
        </span>
        }
      </div>

      <input
        type="submit"
        value="Update"
        class="btn btn-primary text-uppercase fw-bold rounded-1"
      />
    </div>
  </form>
</div>
