<div class="container w-50 border bg-white rounded mx-auto p-5" style="margin-top: 100px;">
  <form [formGroup]="registerForm" (ngSubmit)="handleEditSubmit()">
    <h2 class="text-center my-2 mb-3 text-dark">Edit Profile</h2>
    <div class="row">
      <div class="mb-2 col-md-6">
        <label for="name" class="form-label fs-6 text-uppercase fw-bold text-black">Name</label>
        <input id="name" type="text" name="name" class="form-control" formControlName="name">
        @if (validationErrors.name) {
        <span class="text-danger">{{ validationErrors.name[0] }}</span>
        }
      </div>

      <div class="mb-2 col-md-6">
        <label for="address" class="form-label fs-6 text-uppercase fw-bold text-black">Address</label>
        <input id="address" type="text" name="address" class="form-control" formControlName="address">
        @if (validationErrors.address) {
        <span class="text-danger">{{ validationErrors.address[0] }}</span>
        }
      </div>

      <div class="mb-2 col-md-6">
        <label for="phone" class="form-label fs-6 text-uppercase fw-bold text-black">Phone</label>
        <input id="phone" type="text" name="phone" class="form-control" formControlName="phone">
        @if (validationErrors.phone) {
        <span class="text-danger">{{ validationErrors.phone[0] }}</span>
        }
      </div>

      <div class="mb-2 col-md-6">
        <label for="company_name" class="form-label fs-6 text-uppercase fw-bold text-black">Company Name</label>
        <input id="company_name" type="text" name="company_name" class="form-control" formControlName="company_name">
        @if (validationErrors.company_name) {
        <span class="text-danger">{{ validationErrors.company_name[0] }}</span>
        }
      </div>

      <div class="mb-2 col-md-6">
        <label for="email" class="form-label fs-6 text-uppercase fw-bold text-black">Email address</label>
        <input type="email" name="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp">
        @if (validationErrors.email) {
        <span class="text-danger">{{ validationErrors.email[0] }}</span>
        }
      </div>

      <div class="mb-2 col-md-6">
        <label for="gender" class="form-label fs-6 text-uppercase fw-bold text-black">Gender</label>
        <select id="gender" name="gender" class="form-control" formControlName="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        @if (validationErrors.gender) {
        <span class="text-danger">{{ validationErrors.gender[0] }}</span>
        }
      </div>

      <div class="mb-2 col-md-12">
        <label for="description" class="form-label fs-6 text-uppercase fw-bold text-black">Description</label>
        <input id="description" type="text" name="description" class="form-control" formControlName="description">
        @if (validationErrors.description) {
        <span class="text-danger">{{ validationErrors.description[0] }}</span>
        }
      </div>

      <div class="mb-2 col-md-12">
        <label for="password" class="form-label fs-6 text-uppercase fw-bold text-black">Password</label>
        <input id="password" type="password" name="password" class="form-control" formControlName="password">
        @if (validationErrors.password) {
        <span class="text-danger">{{ validationErrors.password[0] }}</span>
        }
      </div>

      <div class="mb-2 col-md-12">
        <label for="confirm_password" class="form-label fs-6 text-uppercase fw-bold text-black">Confirm Password</label>
        <input id="confirm_password" type="password" name="confirm_password" class="form-control" formControlName="password_confirmation">
        @if (validationErrors.password_confirmation) {
        <span class="text-danger">{{ validationErrors.password_confirmation[0] }}</span>
        }
      </div>

      <input type="submit" value="Edit Profile" class="btn btn-primary text-uppercase fw-bold">
    </div>
  </form>
</div>
