<div class="row" style="width: 19.5rem">
  <span class="text-center mb-3 text-dark roboto-bold fs-4">Categories</span>
  <div *ngFor="let category of categories; let i = index" class="col-md-6">
    <div class="d-flex justify-content-start">
      <input
        type="checkbox"
        class="visually-hidden"
        id="category{{ i }}"
        name="category"
        [checked]="category.isChecked"
        (change)="toggleCategorySelection(category)"
      />
      <label
        for="category{{ i }}"
        class="p-3 rounded-1 text-center"
        style="cursor: pointer; min-width: 9rem"
        [ngClass]="
          category.isChecked ? 'bg-checked text-light' : 'bg-black text-light'
        "
      >
        {{ category.name }}
      </label>
    </div>
  </div>
</div>
