<button
  type="button"
  class="btn btn-warning rounded-5"
  data-bs-toggle="modal"
  data-bs-target="#categoryModal"
>
  Open Category Filter
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="categoryModal"
  tabindex="-1"
  aria-labelledby="categoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title fs-4" id="categoryModalLabel">Categories</span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row g-2 overflow-auto my-4">
          <div *ngFor="let category of categories; let i = index" class="col-6">
            <div class="form-check d-flex justify-content-center">
              <input
                type="radio"
                class="form-check-input"
                id="categoryModal{{ i }}"
                name="category"
                [checked]="category.isChecked"
                (change)="toggleCategorySelection(category)"
              />
              <label class="form-check-label" for="categoryModal{{ i }}">
                {{ category.name }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="applyFilter()"
        >
          Apply Filter
        </button>
      </div>
    </div>
  </div>
</div>
