<form
  class="input-group p-2 rounded-pill shadow-lg bg-white mt-3 w-50 mx-auto d-flex justify-content-between"
>
  <input
    type="text"
    class="form-control border me-2 rounded-pill"
    placeholder="Where to?"
    aria-label="Location"
    name="location"
    [(ngModel)]="location"
  />

  <input
    class="form-control border me-2 rounded-pill"
    placeholder="Dates"
    ngxDaterangepickerBootstrap
    name="dates"
    [(ngModel)]="dates"
  />

  <input
    type="text"
    class="form-control border me-2 rounded-pill"
    placeholder="travelers"
    aria-label="Travelers"
    name="travelers"
    [(ngModel)]="travelers"
  />

  <input
    class="btn btn-primary rounded-pill ms-1 px-4"
    value="Search"
    type="submit"
    (click)="search()"
  />
</form>
