<form
  class="input-group p-2 rounded-pill shadow-lg bg-white mt-3 w-50 mx-auto d-flex justify-content-between"
>
  <input
    type="text"
    class="form-control border me-2 rounded-pill"
    placeholder="Where to?"
    aria-label="Location"
    name="location"
    [(ngModel)]="location"
  />

  <input
    class="form-control border me-2 rounded-pill"
    placeholder="Dates"
    ngxDaterangepickerBootstrap
    name="dates"
    [(ngModel)]="dates"
  />

  <input
    type="text"
    class="form-control border me-2 rounded-pill"
    placeholder="travelers"
    aria-label="Travelers"
    name="travelers"
    [(ngModel)]="travelers"
  />

  <input
    class="btn btn-primary rounded-pill ms-1 px-4"
    value="Search"
    type="submit"
    (click)="search()"
  />
</form>

<!-- <div class="col-sm-12 col-md-6 col-lg-5 col-xl-3"></div>
    <input
      type="text"
      name="destination"
      placeholder="Where to..."
      class="form-control"
    />
  </div>
  <div class="col-sm-12 col-md-6 col-lg-5">
    <input
      type="text"
      placeholder="Start and End date for your trip"
      ngxDaterangepickerBootstrap
      bsDateRangePicker
      class="form-control"
    />
  </div>
  <div class="col-sm-12 col-md-6 col-lg-2">
    <input
      type="submit"
      value="Search"
      class="form-control btn btn-outline-dark fs-5 roboto-medium"
    />
  </div> -->
