<form
  class="input-group p-2 rounded-pill shadow-lg bg-white mx-auto d-flex justify-content-evenly align-items-center position-relative"
  style="width: 56rem; height: 3.9rem"
>
  <!-- Location Input -->
  <div class="position-relative flex-grow-1 me-2">
    <div class="input-group border border-1 p-1 rounded-5 align-middle">
      <label
        for="location"
        class="input-group-text fs-5 rounded-5 bg-white pe-0"
      >
        <i class="fas fa-map-marker-alt text-dark"></i>
      </label>
      <input
        type="text"
        class="form-control"
        id="location"
        placeholder="Where to?"
        aria-label="Location"
        name="location"
        [(ngModel)]="location"
        (input)="getLocationSuggestions()"
      />
    </div>

    <ul
      *ngIf="suggestions.length > 0"
      class="list-group position-absolute w-100 shadow mt-1"
      style="z-index: 1000; max-height: 200px; overflow-y: auto"
    >
      <li
        *ngFor="let suggestion of suggestions"
        class="list-group-item list-group-item-action"
        (click)="selectSuggestion(suggestion)"
      >
        {{ suggestion.display_name }}
      </li>
    </ul>
  </div>

  <!-- Dates Input -->
  <div class="flex-grow-1">
    <div class="input-group border border-1 rounded-5 p-1 align-middle">
      <label for="dates" class="input-group-text fs-5 pe-0">
        <i class="fas fa-calendar-alt text-dark"></i>
      </label>
      <input
        class="form-control"
        id="dates"
        placeholder="Dates"
        ngxDaterangepickerBootstrap
        [minDate]="minDate"
        name="dates"
        [(ngModel)]="dates"
      />
    </div>
  </div>

  <!-- Filter Button -->
  <div class="mx-2">
    <button
      type="button"
      class="btn btn-light border rounded-circle shadow-sm p-2"
      style="width: 35px; height: 35px"
      (click)="toggleFilter()"
    >
      <i class="fas fa-sliders-h text-dark"></i>
    </button>
  </div>

  <!-- Search Button -->
  <div>
    <button
      class="btn btn-warning text-dark rounded-pill px-4 roboto-bold fs-5"
      type="button"
      (click)="search()"
    >
      Search
    </button>
  </div>

  <!-- Filter Section -->
  <div
    *ngIf="showFilter"
    class="filter-section rounded shadow-lg position-absolute mt-3 bg-light"
    style="top: 100%; left: 0; width: 100%; z-index: 5"
  >
    <div class="row p-4">
      <!-- Sleeps Input -->
      <div class="col-md-4 mb-3">
        <input
          type="number"
          class="form-control p-2 ps-3 border border-1"
          id="sleeps"
          placeholder="Sleeps"
          name="sleeps"
          [(ngModel)]="sleeps"
        />
      </div>

      <!-- Bedrooms Input -->
      <div class="col-md-4 mb-3">
        <input
          type="number"
          class="form-control p-2 ps-3 border border-1"
          id="bedrooms"
          placeholder="Bedrooms"
          name="bedrooms"
          [(ngModel)]="bedrooms"
        />
      </div>

      <!-- Bathrooms Input -->
      <div class="col-md-4 mb-3">
        <input
          type="number"
          class="form-control p-2 ps-3 border border-1"
          id="bathrooms"
          placeholder="Bathrooms"
          name="bathrooms"
          [(ngModel)]="bathrooms"
        />
      </div>

      <!-- Min Price Input -->
      <div class="col-md-6 mb-3">
        <input
          type="number"
          class="form-control p-2 ps-3 border border-1"
          id="price_min"
          placeholder="Min Price"
          name="price_min"
          [(ngModel)]="price_min"
        />
      </div>

      <!-- Max Price Input -->
      <div class="col-md-6 mb-3">
        <input
          type="number"
          class="form-control p-2 ps-3 border border-1"
          id="price_max"
          placeholder="Max Price"
          name="price_max"
          [(ngModel)]="price_max"
        />
      </div>
    </div>
  </div>
</form>
