<div class="container-fluid tw-mt-32">
  <div class="container">
    <div class="row">
      @if (favoriteProperties.length > 0) { @for (property of
      favoriteProperties; track $index) {
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 my-2">
        <div class="card bg-light border-1 position-relative my-2 shadow">
          <img
            src="http://127.0.0.1:8000{{ property.images[0]['image'] }}"
            class="card-img-top rounded-top-3 position-relative"
          />

          <fa-icon
            [icon]="faHeart"
            class="fs-4 position-absolute rounded-3 text-light hover-effect"
            style="top: 2%; right: 4%"
            (click)="toggleFavorite(property.property_id)"
          >
            ></fa-icon
          >
          <div class="card-body py-3 pt-4 px-2">
            <span class="text-muted" style="font-size: 14px">
              <i class="fas fa-map-marker-alt me-1 text-warning"></i>
              {{ property.location | truncate : 36 }}</span
            >
            <p class="roboto-bold text-dark mb-0" style="font-size: 1rem">
              {{ property.property_name | truncate : 30 }}
            </p>

            <div
              class="card-text text-dark d-flex gap-2"
              style="font-size: 0.9rem"
            >
              <span>
                <fa-icon
                  [icon]="faHouse"
                  class="rounded-3 text-warning"
                ></fa-icon>
                {{ property.property_type }}
              </span>
              |
              <span>
                <fa-icon
                  [icon]="faBed"
                  class="rounded-3 text-warning"
                ></fa-icon>
                {{ property.bedrooms }}
              </span>
              |
              <span>
                <fa-icon
                  [icon]="faBath"
                  class="rounded-3 text-warning"
                ></fa-icon>
                {{ property.bathrooms }}
              </span>
              |
              <span>
                <i class="fa-solid fa-person text-warning"></i>
                {{ property.sleeps }} Sleeps
              </span>
            </div>
            <div
              class="text-end fw-bold text-dark bg-warning p-1 rounded-2 position-absolute"
              style="font-size: 0.8rem; bottom: 41%"
            >
              ${{ property.night_rate }}/Night
            </div>
            <button
              (click)="goToDetails(property.id)"
              class="float-end btn btn-warning rounded-3 mt-2 me-2"
            >
              View Details
            </button>
          </div>
        </div>
      </div>
      } } @else {
      <div
        class="d-flex justify-content-center align-items-center flex-column text-center"
        style="height: 45rem"
      >
        <div class="mb-3">
          <h3>No Favorite properties</h3>
        </div>
      </div>
      }
    </div>
  </div>
</div>
