
<div class="container w-50 border bg-white rounded mx-auto p-5" style="margin-top: 150px;">
    <h1 class="text-center my-2 fs-5 text-uppercase fw-bold text-black ">reset password</h1>

    <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
        <div class="mb-2 col-md-12">
            <label for="exampleInputPassword1" class="form-label fs-6 text-uppercase fw-bold text-black">NewPassword</label>
            <input type="password"  #passwordInput="ngModel" name="password" class="form-control" [(ngModel)]="password" required="required" minlength="8"
                id="exampleInputPassword1">
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger">
                    <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
                    <div *ngIf="passwordInput.errors?.['minlength']">Password must be at least 8 characters long.</div>
                </div>
        </div>
        <div class="mb-2 col-md-12">
            <label for="exampleInputPassword1" class="form-label fs-6 text-uppercase fw-bold text-black">Confirm Password</label>
            <input id="exampleInputPassword1"  #confirmPasswordInput="ngModel" type="password" name="password_confirmation" class="form-control" [(ngModel)]="password_confirmation"  
                > 
                <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)" class="text-danger">
                    <div *ngIf="confirmPasswordInput.errors?.['required']">Confirmation password is required.</div>
                </div>
                <div *ngIf="password && password_confirmation && password !== password_confirmation" class="text-danger">
                    Passwords do not match.
                </div>
        </div>   
        
         <button type="submit" [disabled]="resetPasswordForm.invalid || password !== password_confirmation" class="btn btn-lg btn-primary w-50 mx-auto ">Reset Password</button>
      </form>

</div>







