.container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    opacity: 1;
}

.log{
    background-image: url("/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  
    padding-top: 50px;
}