<div class="container" style="margin-top: 20rem; max-height: 100%">
  <div class="mt-5">
    <h1 class="text-center">Payment Page</h1>
    <form
      class="w-50 mx-auto"
      (ngSubmit)="
        makePayment(
          product_name,
          price,
          quantity,
          dates.startDate,
          dates.endDate,
          user_id,
          propertyId
        )
      "
    >
      <div class="mb-2">
        <label for="product_name" class="form-label fs-4">Property Name</label>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="product_name"
          name="product_name"
          required
          readonly
        />
      </div>
      <div class="mb-2">
        <label for="price" class="form-label fs-4">Price</label>
        <input
          type="number"
          [(ngModel)]="price"
          class="form-control"
          name="price"
          required
          disabled
        />
      </div>
      <input type="hidden" name="propertyId" [(ngModel)]="propertyId" />
      <div class="my-4">
        <div class="mb-2">
          <input
            class="text-center border-0 p-2 rounded-pill form-control bg-light"
            placeholder="Dates"
            ngxDaterangepickerBootstrap
            name="dates"
            [(ngModel)]="formattedDates"
            disabled
          />
        </div>
      </div>

      <input
        type="hidden"
        [(ngModel)]="quantity"
        placeholder="Quantity"
        name="quantity"
      />
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success rounded fs-4 mt-1">
          Pay with Stripe
        </button>
      </div>
    </form>
  </div>
</div>
