<!-- <div class="profile-container">
  <div class="profile-card">
    <img [src]="'http://localhost:8000/images/posts/' + user.image" alt="Profile Image" class="profile-image"
      *ngIf="user.image; else defaultImage" />
    <ng-template #defaultImage>
      <img src="assets/default-avatar.png" alt="Default Image" class="profile-image" />
    </ng-template>
    <a [routerLink]="['/favorite']" class="btn btn-success d-flex roboto-regular align-items-center me-3 ">
      <fa-icon [icon]="faHeart" class="fs-3"></fa-icon>
      <span class="ms-1 fs-5">Favorite</span>
    </a>
    <a [routerLink]="['/edit-user-profile', id]" class="btn btn-success d-flex roboto-regular align-items-center me-3">

      <span class="ms-1 fs-5">Edit Profile</span>
    </a>

    <h2 class="profile-name text-dark">{{ user.name }}</h2>
    <p class="profile-email text-dark">{{ user.email }}</p>
    <p class="profile-phone text-dark">{{ user.phone }}</p>
    <p class="profile-address text-dark">Address: {{ user.address }}</p>
    <p class="profile-gender text-dark">Gender: {{ user.gender }}</p>

    <h3>Payments</h3>
    <div *ngIf="payments.length > 0; else noPayments">
      <ul>
        <li *ngFor="let payment of payments">
          Payment Name: {{ payment.product_name }} - Amount: {{ payment.amount }} - Date: {{ payment.start_date }}
        </li>
      </ul>
    </div>
    <ng-template #noPayments>
      <p class="text-dark">No payments found.</p>
    </ng-template>

    <h3>Favorites</h3>
    <div *ngIf="favorites.length > 0; else noFavorites">
      <ul>
        <li *ngFor="let favorite of favorites">
          Favorite ID: {{ favorite.id }} - Name: {{ favorite.name }}
        </li>
      </ul>
    </div>
    <ng-template #noFavorites>
      <p class="text-dark">No favorites found.</p>
    </ng-template>

    <h3>Reviews</h3>
    <div *ngIf="reviews.length > 0; else noReviews">
      <ul>
        <li *ngFor="let review of reviews">
          Review ID: {{ review.id }} - Content: {{ review.review }} - Rating: {{ review.rating }}
        </li>
      </ul>
    </div>
    <ng-template #noReviews>
      <p>No reviews found.</p>
    </ng-template>
  </div>
</div> -->



<div class="container" style="margin-top: 100px;">
  <div class="row">
      <div class="col-xl-12">
          <div class="card">
              <div class="card-body pb-0">
                  <div class="row align-items-center">
                      <div class="col-md-3">
                          <div class="text-center border-end">
                            <img [src]="'http://localhost:8000/images/posts/' + user.image" alt="Profile Image" class="img-fluid avatar-xxl rounded-circle"
                            *ngIf="user.image; else defaultImage" />
                          <ng-template #defaultImage>
                            <img src="assets/default-avatar.png" alt="Default Image" class="profile-image" />
                          </ng-template>
                              <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar-xxl rounded-circle" alt=""> -->
                              <h4 class="text-primary font-size-20 mt-3 mb-2">{{ user.name }}</h4>
                              <!-- <h5 class="text-muted font-size-13 mb-0">Web Designer</h5> -->
                          </div>
                      </div><!-- end col -->
                      <div class="col-md-9">
                          <div class="ms-3">
                              <div>
                                  <h4 class="card-title mb-2">Biography</h4>

                                  <p class="profile-email text-dark">Email : {{ user.email }}</p>
                                  <p class="profile-phone text-dark"> Phone :{{ user.phone }}</p>
                                  <p class="profile-address text-dark">Address: {{ user.address }}</p>
                                  <p class="profile-gender text-dark">Gender: {{ user.gender }}</p>
                                                                </div>
                          
                             
                          </div>
                      </div><!-- end col -->
                  </div><!-- end row -->
              </div><!-- end card body -->
          </div><!-- end card -->
  
          <div class="card bg-light">
              <div class="tab-content p-4">
                  <div class="tab-pane active show" id="projects-tab" role="tabpanel">
                      <div class="d-flex align-items-center">
                          <div class="flex-1">
                              <h4 class="card-title mb-4">Payments</h4>
                          </div>
                      </div>
  
                      <div *ngIf="payments.length > 0; else noPayments" class="row g-5 " id="all-projects">
                        <!-- Payment Name: {{ payment.product_name }} - Amount: {{ payment.amount }} - Date: {{ payment.start_date }} -->

                          <div *ngFor="let payment of payments" class="col-md-6 shadow-sm" id="project-items-1">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="d-flex mb-3">
                                          <div class="flex-grow-1 align-items-start">
                                              <div>
                                                  <h6 class="mb-0 text-muted">
                                                      <i class="mdi mdi-circle-medium text-danger fs-3 align-middle"></i>
                                                      <span class="team-date">Date: {{ payment.start_date }}</span>
                                                  </h6>
                                              </div>
                                          </div>
                                          <!-- <div class="dropdown ms-2">
                                              <a href="#" class="dropdown-toggle font-size-16 text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="mdi mdi-dots-horizontal"></i>
                                              </a>
  
                                              <div class="dropdown-menu dropdown-menu-end">
                                                  <a class="dropdown-item" href="javascript: void(0);" data-bs-toggle="modal" data-bs-target=".bs-example-new-project" onclick="editProjects('project-items-1')">Edit</a>
                                                  <a class="dropdown-item" href="javascript: void(0);">Share</a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item delete-item" onclick="deleteProjects('project-items-1')" data-id="project-items-1" href="javascript: void(0);">Delete</a>
                                              </div>
                                          </div> -->
                                      </div>
  
                                      <div class="mb-4">
                                          <h5 class="mb-1 font-size-17 team-title">Payment Name: {{ payment.product_name }}</h5>
                                          <p class="text-muted mb-0 team-description">Amount: {{ payment.amount }} {{ payment.currency }}
                                              </p>
                                              <p class="text-muted mb-0 team-description">Status: {{ payment.payment_status }} 
                                              </p>
                                      </div>
                                     
                                  </div><!-- end cardbody -->
                              </div><!-- end card -->
                          </div><!-- end col -->

         
                      </div><!-- end row -->
                      <ng-template #noPayments>
                        <p class="text-dark">No payments found.</p>
                      </ng-template>
                      
                  </div><!-- end tab pane -->
 

                </div>
              </div><!-- end card -->

              <div class="card bg-light">
                <div class="tab-content p-4">
                    <div class="tab-pane active show" id="projects-tab" role="tabpanel">
                        <div class="d-flex align-items-center">
                            <div class="flex-1">
                                <h4 class="card-title mb-4">Reviews</h4>
                            </div>
                        </div>
    
                        <div *ngIf="reviews.length > 0; else noReviews" class="row g-5 " id="all-projects">
                          <!-- Payment Name: {{ payment.product_name }} - Amount: {{ payment.amount }} - Date: {{ payment.start_date }} -->
  
                            <div *ngFor="let review of reviews" class="col-md-6 shadow-sm" id="project-items-1">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex mb-3">
                                            <div class="flex-grow-1 align-items-start">
                                                <div>
                                                    <h6 class="mb-0 text-muted">
                                                        <i class="mdi mdi-circle-medium text-danger fs-3 align-middle"></i>
                                                        <span class="team-date">Property Name: {{ review.property_name }}</span>
                                                    </h6>
                                                </div>
                                            </div>
                                           
                                        </div>
    
                                        <div class="mb-4">
                                            <h5 class="mb-1 font-size-17 team-title">Review: {{ review.review }}</h5>
                                            <p class="text-muted mb-0 team-description">Rating: {{ review.rating }}/5 
                                                </p>
                                        </div>
                                       
                                    </div><!-- end cardbody -->
                                </div>

                            </div><!-- end col -->
  
           
                        </div><!-- end row -->
                        <ng-template #noReviews>
                          <p>No reviews found.</p>
                        </ng-template>
                        
                    </div><!-- end tab pane -->
   
  
                  </div>
                </div><!-- end card -->
                
          </div><!-- end col -->
      
  </div>
</div>
