<div
  class="container px-0 rounded-1 shadow"
  style="margin-top: 4rem; width: 60rem"
>
  <div class="row">
    <div class="col-md-9 mx-auto my-2" style="height: fit-content">
      <app-stepper [linearModeSelected]="false" #appStepper>
        <cdk-step [label]="'Information'">
          <app-information
            (formSubmitted)="appStepper.next()"
          ></app-information>
        </cdk-step>
        <cdk-step [label]="'Amenities'">
          <app-amenities
            (AmenityFormSubmitted)="appStepper.next()"
          ></app-amenities>
        </cdk-step>
        <cdk-step [label]="'Pictures'">
          <app-pictures (imageFormSubmitted)="appStepper.next()"></app-pictures>
        </cdk-step>
        <cdk-step [label]="'Finish'">
          <app-finish></app-finish>
        </cdk-step>
      </app-stepper>
    </div>
  </div>
</div>
